<html>
  <head>
    <title>Jubarte</title>
      <meta charset="UTF-8">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
      <body>

      <div>
        <app-sidebar-component></app-sidebar-component>
      </div>

      <div class="postagem">
          <h2 style="text-align:center">Jubarte</h2>
         <card-component *ngFor="let fotos of card"
            [url]="fotos.url"
            [titulo]="fotos.titulo">
          </card-component>
          
       </div>
      </body>
</html>
