<div class="menu" >
     <div style="padding-top:40px;"  class="form-group input-group">
          <span class="input-group-addon" ><i class="glyphicon glyphicon-search"></i></span>
          <input  name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
         </div>


    <a href="#home"><i class="fas fa-home"></i>Home</a>
    <a href="#serie"><i class="fas fa-tv"></i>Series</a>
    <a href="#filmes"><i class="fas fa-film"></i>Filmes</a>
    <a href="#sair"><i class="fas fa-sign-out-alt"></i>Sair</a>

</div>
<!-- <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a  class="navbar-brand" href="#">Home</a>

          </li>
          <li class="nav-item"><a class="nav-link active" href="#">
            Filmes</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Series</a></li>
        </ul>

      </div>
</nav> -->
    <!--conteudo da pagina-->


